.page-header
  = link_to new_album_path, class: 'btn btn-primary' do
    %span.glyphicon.glyphicon-plus
    New Album
  %h1 Listing albums

.table-responsive
  %table.table.table-striped.table-bordered.table-hover
    %thead
      %tr
        %th User
        %th Name
        %th Public
        %th
        %th
        %th

    %tbody
      - @albums.each do |album|
        %tr
          %td= album.user.name
          %td= album.name
          %td= album.public
          %td= link_to 'Show', album
          %td= link_to 'Edit', edit_album_path(album)
          %td= link_to 'Destroy', album, data: { confirm: 'Are you sure?' }, method: :delete
