!!!
%html
  %head
    %meta{charset: "utf-8"}
    %meta{content: "IE=edge", "http-equiv" => "X-UA-Compatible"}
    %meta{content: "width=device-width, initial-scale=1", name: "viewport"}
    %meta{content: "", name: "description"}
    %meta{content: "", name: "author"}
    %title Photo show

    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags

  %body
    %nav.navbar.navbar-inverse.navbar-fixed-top{role: "navigation"}
      .container
        .navbar-header
          %button.navbar-toggle.collapsed{type: "button", data: {toggle: "collapse", target: "#navbar"}, aria: {expanded: "false", controls: "navbar"} }
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          = link_to "Photo Show", root_path, class: "navbar-brand"
        #navbar.collapse.navbar-collapse
          %ul.nav.navbar-nav
            %li.active
              = link_to 'Public albums', root_path
            - if current_user
              %li
                = link_to 'My albums', albums_path
          %ul.nav.navbar-nav.navbar-right
            - if current_user
              %li
                - if current_user.avatar.thumb.url
                  = link_to image_tag(current_user.avatar.thumb.url), user_path(current_user.id)
                - else
                  = link_to 'Account', user_path(current_user.id)
              %li
                = link_to 'Log out', destroy_user_session_path, :method => :delete
              - if current_user.admin?
                %li
                  = link_to 'Users', users_path
            - else
              %li
                = link_to 'Log in',  new_user_session_path
              %li
                = link_to 'Sign up', new_user_registration_path

    .container
      - flash.each do |name, msg|
        = content_tag :div, class: "alert alert-#{name == :error ? "danger" : "success" } alert-dismissable", role: "alert" do
          %button.close{type: "button", data: {dismiss: "alert"} }
            %span{aria: {hidden: "true"} } &times;
            %span.sr-only Close
          = msg
      = yield
